<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
            <ul>
                <li><a href="{% url "logout"%}">Logout</a></li>
                <li><a href="{% url "create_receipt"%}">Create Receipt</a></li>
                <li><a href="{% url "create_category"%}">Create Expense Category</a></li>
                <li><a href="{% url "create_account"%}">Create Account</a></li>
                <li><a href="{% url "category_list"%}">Expense Category List</a></li>
                {% comment %} <li><a href="{% url "account_list"%}">Account List</a></li> {% endcomment %}
                <li><a href="{% url "home"%}">Receipt List</a></li>
            </ul>
            {% endif %}
        </nav>
    </header>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for var in account_objects %}
            <tr>
                <td>{{var.name}}</td>
                <td>{{var.number}}</td>
                <td>{{var.receipts.all|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
